.TableContainer {
    margin-top: 20px;
}

.Table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.Th,
.Td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.Table .Th {
    background-color: #2196f3;
    color: #ffffff;
}

.data{
    text-decoration: none;
    color: #282c34;
}